body {
  font-family: 'Roboto Slab', serif;
}

.header-style {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.logo {
  color: #6070ff;
  text-decoration: none;
  font-weight: 700;
  font-weight: 18px;
  font-size: 20px;
}

.headling {
  background-image: url("./header-shapes-mobile.svg");
  background-size: cover;
  padding: 0 0 10px 10px;
}

.intro {
  padding: 40px 0 0 0;
  color: #172b4d;
  font-style: normal;

  /* font-weight: 700; */
  font-size: 50px;
  margin-bottom: 13px;
}

.professional-details {
  color: #344563;
  font-style: normal;

  /* font-weight: 300; */
  font-size: 18px;
}

.social-media-intro {
  color: #7f8cff;
  font-size: 18px;
}

.social-media-icon {
  display: flex;
  gap: 15px;
}

.social-media {
  list-style: none;
}

.list-style {
  margin-left: -40px;
  padding-right: 42px;
}

.workInfo {
  display: flex;
  gap: 15px;
}

.card-container {
  background-color: #fff;
  display: grid;
  grid-auto-flow: row;
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
}

.card {
  padding: 10px 10px;
  background: #fff;
}

.first-card,
.second-card,
.third-card,
.fouth-card {
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin-top: 15px;
}

.project-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  color: #172b4d;
}

.workInfoDetails,
.firstWorkLink {
  list-style: none;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-left: -40px;
  padding-right: 30px;
}

.workInfoDetailsLink {
  text-decoration: none;
  padding: 5px;
  margin-left: -8px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.counter {
  padding: 0 5px;
}

.firstWorkLink {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.details-sec {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tag-btn-container {
  display: flex;
  gap: 9px;
  margin-left: -47px;
}

.tag-btn {
  list-style: none;
}

.btn-small {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  border-radius: 8px;
  margin: 0 1px;
  border: #fff;
  padding: 5px;
}

.btnNormal {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 10px;
  border-radius: 0.5em;
  border: 0.2px solid #396df2;
  background: #fff;
}

.about {
  background-color: #fff;
  display: flexbox;
}

.about-intro {
  padding: 40px 0 0 0;
  color: #172b4d;
  font-style: normal;

  /* font-weight: 700; */
  font-size: 50px;
  margin-bottom: 13px;
}

.about-me-details {
  color: #344563;
  font-style: normal;

  /* font-weight: 300; */
  font-size: 18px;
}

.lang-sec {
  margin-left: -42px;
  height: 100px;
}

.lang-tille-link {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.lang-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.lang-icon {
  margin-left: -42px;
}

.langIconDetails {
  list-style: none;
  display: flex;
  gap: 15px;
}

.langIconDetailsLink {
  text-decoration: none;
}

.first-lang {
  background: #f7f7f9;
  border-radius: 8px;
}

.sec-lang {
  background: #f7f7f9;
  border-radius: 8px;
  margin-top: 10px;
}

.thd-lang {
  background: #f7f7f9;
  border-radius: 8px;
  margin-top: 10px;
}
